@import url(https://fonts.googleapis.com/css?family=Bangers|Roboto);
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bangers", sans-serif;
  line-height: 1.5rem;
}

.container {
  padding: 20px;
  background: #ffc300;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
}

.btn-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
@media only screen and (max-width: 900px) {
  .container {
    height: 100%;
  }
  .btn-list {
    flex-direction: column;
  }
}
.btn {
  cursor: pointer;
  position: relative;
  height: max-content;
  width: max-content;
  border-radius: 2px;
  background: #c70039;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  padding: 8px 30px 8px 15px;
  font-family: "Roboto", sans-serif;
}

.btn::after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: 0;
  right: 5px;
}

.btn:hover::after {
  transition: border-top 0.5s;
  transition-timing-function: ease-out;
}

.flat-btn::after {
  border: 8px solid #fff;
  border-bottom: 8px solid transparent;
}

.flat-btn:hover::after {
  border-top: 15px solid #fff;
}

.flat-btn:hover {
  background: #ae0032;
}

.raised-btn {
  box-shadow: inset 5px 5px 5px #ff1659, 2px 2px 2px #ff1659;
  transition: box-shadow 0.4s;
  transition-timing-function: ease-out;
  border-bottom: 1px solid rgba(174, 0, 50, 0.1);
  border-right: 1px solid rgba(174, 0, 50, 0.1);
  border-top: 1px solid rgb(255, 62, 117);
  border-left: 1px solid rgb(255, 62, 117);
}
.raised-btn:hover {
  box-shadow: none;
}
.raised-btn:active {
  box-shadow: inset 5px 5px 5px #8c0028;
  transition: box-shadow 0.2s;
}
.raised-btn::after {
  top: -1px;
  border: 8px solid #ffb3c9;
  border-bottom: 8px solid transparent;
}
.raised-btn::before {
  position: absolute;
  top: -1px;
  content: "";
  height: 4px;
  width: 16px;
  background: rgba(255, 255, 255, 0.8);
  right: 5px;
  z-index: 99;
}
.raised-btn:hover::after {
  border-top: 15px solid #ffb3c9;
}

.tint-btn {
  color: #7c7c7c;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(204, 204, 204, 0.5);
}

.tint-btn:hover {
  background: rgba(255, 255, 255, 0.3);
}

.tint-btn::after {
  top: -1px;
  border: 8px solid #fff;
  border-bottom: 8px solid transparent;
  border-right-color: lightgray;
  border-left-color: grey;
}

.tint-btn:hover::after {
  border-top: 15px solid #fff;
}

.gradient-btn {
  background: rgb(255, 81, 131);
  background: linear-gradient(
    135deg,
    rgba(255, 81, 131, 1) 0%,
    rgba(199, 0, 57, 1) 73%
  );
}

.gradient-btn::after {
  top: 0;
  border: 8px solid #fff;
  border-bottom: 8px solid transparent;
}

.gradient-btn:hover::after {
  border-top: 15px solid #fff;
}
.gradient-btn::before {
  position: absolute;
  top: 2px;
  content: "";
  height: 4px;
  width: 4px;
  background: #c70039;
  border-radius: 50%;
  right: 11px;
  z-index: 99;
}

.white-btn {
  background: #fff;
  color: #999;
}

.white-btn:hover {
  color: #c70039;
}

.white-btn::after {
  top: -1px;
  border: 8px solid #999;
  border-bottom: 8px solid transparent;
}

.white-btn:hover::after {
  border-top: 16px solid #c70039;
  border-right-color: #c70039;
  border-left-color: #c70039;
  transition: border-top 1s ease-out, border-right-color 0.2s ease-out,
    border-left-color 1s ease-out;
  border-bottom: 8px solid transparent;
}

.white-raised-btn {
  background: #fff;
  color: #000;
}

.white-raised-btn:hover {
  color: #fff;
  /*   background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(153, 153, 153, 1) 73%
  ); */
  background: rgb(153, 153, 153);
  background: linear-gradient(
    180deg,
    rgba(153, 153, 153, 1) 0%,
    rgba(0, 0, 0, 1) 73%
  );
}

.white-raised-btn::after {
  top: -1px;
  border: 8px solid #000;
  border-bottom: 8px solid transparent;
}

.white-raised-btn:hover::after {
  border-top: 16px solid #c70039;
  border-right-color: #ffffff;
  border-left-color: #c70039;
  transition: border-top 1s ease-out, border-right-color 0.2s ease-out,
    border-left-color 1s ease-out;
  border-bottom: 8px solid transparent;
}

.white-raised-btn:hover::before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border: 20px solid transparent;
  top: 0;
  left: 0;
  border-left-color: rgba(199, 0, 57, 0.1);
}
